/* This is a comment within CSS */
/* `ctrl + /` will also make a comment */
/* on mac, this is `cmd + /` */

/* 
These Comments
Can Span
Multiple Lines
*/

/*
  List of CSS Selectors
      - Element Selector: is going to select all instances of a given tag from our HTML page
          - body
          - p
      
*/

/* I want to change the color of my p tags */
/* I have to start by telling my CSS file what I want to change */
p, h1 { /* Select All <p> Tags */
/* By using a comma I can have this style rule effect multiple different tags at the same time */
  color: orangered; /* change the text color to "orangered" */
  /* background-color: yellowgreen; */
}

/* body selector - what we write before the {} is going to be our "selector". A "selector" is the term for the element or elements on my HTML page which are being edited by this style rule*/
body {
  background-color: lightgray;
  /* 
    In CSS we have 3 major ways to refer to a color:
        - color keywords:
            - green, lightgray, orangered, etc...
        - RGB value:
            - rgb(0-255, 0-255, 0-255)
            - Each of these numbers represents how strong either the Red, Green, or Blue is in our color
        - Hex Color:
            - #002255
            - Each pair of values represents one of our "rgb" values, so a hex color is made of 3 pairs of characters. These characters count from 0-9, then a-f
                - 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, a, b, c, d, e, f
  */
}

/* I must use a period . to select my class name. This will select all elements with this class name */
.header {
  text-align: center;
}

/* change all h tags at the same time */
/* Compound Selector: it is more than a single selector in one rule */
h1, h2, h3, h4, h5, h6 {
  /* this will now change all of my h tags at the same time */
  text-decoration: underline;
}

/* change a specific tag by selecting an ID */
/* To select an ID, I must use a number sign # a.k.a hashtag */
#unique {
  text-decoration: underline overline;
  background-color: pink;
  color: olivedrab;
}
/* We are only ever going to get back ONE item with a given ID. Unlike a tag name or class, we cannot use the same ID for multiple elements. If we use the same ID multiple times, the styling will still apply. This does not mean we should use it in place of a class. Our browser and JavaScript is only going to pay attention to the first item with a given ID when we start making our pages functional */
